# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
indent_style = space
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.php]
indent_size = 4
indent_style = tab
end_of_line = lf

# Matches the exact files either package.json or .travis.yml
[{*.js,*.json,*.jsx,*.html}]
indent_size = 2

# Matches the exact files either package.json or .travis.yml
[{package.json,.travis.yml}]
indent_size = 2

[{*.sass,*.scss,*.css}]
indent_size = 2
